body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
}

header {
    background-color: #0073e6;
    padding: 20px;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}